# Maven build output
target/

# Maven Wrapper (keep these so others can build without Maven installed)
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd

# Ignore personal/local profiles
application-*.yml

# Logs
*.log

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws

*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# VS Code
.vscode/
